# Godot 4+ specific ignores
.godot/
/android/

# Data
addons/odyssey_plugin/data/characters/*
addons/odyssey_plugin/data/dialogues/*
addons/odyssey_plugin/data/items/*
!addons/odyssey_plugin/data/characters/.gitkeep
!addons/odyssey_plugin/data/dialogues/.gitkeep
!addons/odyssey_plugin/data/items/.gitkeep

# Types
addons/odyssey_plugin/entities/items/types/*
!addons/odyssey_plugin/entities/items/types/.gitkeep
